  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <!-- header-transparent -->
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html"><span>byRoute</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link  {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home'%}">Home</a></li>
          <li><a class="nav-link scrollto {% if request.resolver_match.url_name == 'traffic_login' %}active{% endif %}" href="{% url 'userhome'%}">Service</a></li>
       
          {% if request.user.is_authenticated %}
         <li class="dropdown"><a href="#"><span>{{request.user}}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'logout'%}">Logout</a></li>
             
              
            </ul>
          </li>
          {% else %}
          <li><a class="nav-link scrollto {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href="{% url 'login'%}">login</a></li>
          {% endif %}

         </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>